RewriteEngine On
RewriteEngine On
RewriteRule   ^hombro/?$   hombro.html   [NC]  
RewriteRule   ^rodilla/?$  rodilla.html   [NC]  
RewriteRule   ^cirugia-artroscopica/?$   cirugia-artroscopica.html   [NC]  
RewriteRule   ^galeria/?$   galeria.html   [NC]  
RewriteRule   ^contacto/?$   contacto.html   [NC]  
RewriteRule   ^cv/?$   cv.html   [NC]  
